<html lang="en">
  <body>
    <p>The following error occurred when trying to <strong><%= @action %></strong> <%= @study.accession %> in DUOS:</p>
    <pre>
      <%= @error_message %>
    </pre>
  </body>
</html>
