<div id="upload-wizard-target">
  </div>
  <script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
    const wizardProps = {
      studyAccession: '<%= @study.accession %>',
      name: '<%= @study.name %>'
    }
    window.SCP.renderComponent('upload-wizard-target', 'UploadWizard', wizardProps)
  </script>
