.cff-button_style{
    margin-bottom: 17px;
}

.cff-icon-style{
    margin-left: 10px;
    vertical-align: middle;
}
.cff-panel-specifics{
    border-left: 1px solid #ccc;
    margin-left: 16px;
    padding-left: 10px;
}
