.cell-filtering-button {
  margin-bottom: 17px;
}

.cell-filtering-button.create-annotation-cell-filtering {
  position: relative;
  top: -22px;
  margin-bottom: 0px;
}

.cell-filtering-info-help-icon {
  margin-left: 10px;
}

.cell-filter-label {
  font-weight: normal;
  cursor: pointer;
  width: calc(100% - 18px);
  vertical-align: top;

  &:hover {
    color: #007;
    // background-color: #FAFAFF;
  }

  input[type="checkbox"] {
    cursor: pointer;
  }
}

.cell-filter-label-text {
  display: inline-block;
  width: calc(100% - 90px);
}

.cell-filter-count {
  float: right;
  font-size: 13px;
}

.filter-section-header,
.cell-facet-header,
.facet-toggle-chevron {
  cursor: pointer;
}

.facet-toggle-chevron {
  position: relative;
  top: 2px;
  left: 4px;
}

input.cell-facet-header-checkbox {
  display: inline;
  margin-right: 5px;
  position: relative;
  top: -1px;
  cursor: pointer;
}

.reset-cell-filters {
  margin-right: 8px;
  top: 0px;
}

.cell-facet-name,
.filter-section-name {
  font-weight: bold;
  margin-bottom: 5px;
  vertical-align: top;
  display: inline-block;
  width: calc(100% - 60px);
}

.filter-section-name {
  margin-bottom: 0px;
  margin-left: 18px;
  width: fit-content;
}

.cell-facet:has(.cell-filters-hidden) {
  .cell-facet-name {
    margin-bottom: 0px;
  }
}

.cell-facet-name {
  font-weight: bold;
  vertical-align: top;
  display: inline-block;
}

.cell-facet-name.loading {
  width: calc(100% - 60px);
}

.filter-section-header {
  padding-bottom: 5px;
  border-bottom: 1px solid #DDD;
  margin-bottom: 3px;
}

.cell-facet {
  margin-bottom: 12px;
}

.cell-facet:has(.cell-filters-hidden) {
  margin-top: 0;
  margin-bottom: 0;
}

.cell-facet:first-child {
  margin-top: 6px;
}

.filter-section-header:hover,
.cell-facet-header:hover {
  color: #007;
}

.filter-section-header:hover .facet-toggle-chevron,
.cell-facet-header:hover .facet-toggle-chevron {
  color: #77D;
}

.cell-facet .cell-filters-shown .facet-toggle-chevron,
.cell-facet .cell-filters-shown .sort-filters,
.cell-facet .cell-facet-header-checkbox,
.filter-section .reset-cell-filters,
.filter-section:hover .reset-cell-filters.hide-reset {
  visibility: hidden;
}

.cell-facet:hover .cell-filters-shown .facet-toggle-chevron,
.cell-facet:hover .cell-filters-shown .sort-filters,
.cell-facet:hover .cell-facet-header-checkbox,
.cell-facet:has(.cell-filters-hidden) .cell-facet-header-checkbox,
.filter-section:hover .reset-cell-filters {
  visibility: visible;
}

.reset-cell-filters, .sort-filters {
  color: #777;
}

.reset-cell-filters:hover, .sort-filters:hover {
  color: #77D;
}

.sort-filters {
  margin-right: 4px;
}

.facet-tools {
  float: right;
  margin-right: 5px;
  margin-top: -1px;
}

.sparkbar {
  float: right;
}

.cell-filter-quantities {
  float: right;
  width: 65px;
}

.sparkbar-filtered,
.sparkbar-baseline {
  float: right;
  height: 1.75px;
  position: relative;
}

.sparkbar .sparkbar-filtered {
  background-color: #3AF;
  z-index: 100;
}

.sparkbar .sparkbar-filtered.full {
  background-color: #4ED;
  z-index: 100;
}

.sparkbar-baseline {
  background-color: #DDD;
}

.cell-facet:hover .sparkbar .sparkbar-filtered {
  height: 2.25px;
}
