.de-modal-row-wrapper {
  position: relative;
  top: -15px;
    .de-modal-row {
    a.de-info-help-icon {
      margin-left: 10px;
      vertical-align: middle;
    }
  }
}

.de-source {
  font-weight: normal;
}

.badge-inverse {
  color: #555;
  border: 1px solid #555;
  background-color: #fff;
}

.de-table-buttons {
  float: right;
  margin-right: -8px;
}

.pagination {
  margin: 2px;
}

.de-download-button {
  margin-right: 0.5em;
  display: inline-block;
  vertical-align: middle;
  padding: 2px 5px;
  border-radius: 4px;
  color: $action-color;
}

.de-reset-button {
  margin-right: 0.6em;
  color: $action-color;
}

.de-dot-plot-button {
  margin-right: 0.5em;
  padding: 2px 5px;

  .de-dot-plot-icon {
    position: relative;
    top: 2px;
    margin-right: 5px;
  }
}

.de-search-box {
  width: 150px;
  border: 1px solid #CCC;
  border-radius: 3px;
  height: 24px;
  margin-left: -16px;
  display: inline-block;
}

.de-search-box:focus-within {
  border: 1px solid #AAA;
}

.de-search-icon {
  color: $action-color;
  margin: 0 5px 0 5px;
}

.de-search-input {
  width: 110px;
}

.clear-de-search-icon {
  border: none;
  padding: 0;
  float: right;
  margin: 1px 3px 0 0;
  color: #CCC;
}

.clear-de-search-icon:hover,
.clear-de-search-icon:active:hover {
  background: none;
  color: #AAA;
  box-shadow: none;
  outline: none;
}

.de-nondefault-explainer {
  margin-top: 16px;
  font-weight: normal;
}

.no-de-summary {
  padding-left: 10px
}

.differential-expression-picker {
  margin-bottom: 20px;

  .one-vs-rest-select {
    float: left;
    width: calc(100% - 100px); // leave room for vs-note content
  }

  .pairwise-select {
    float: left;
    width: calc(45%); // leave room for vs-note, other select
  }
  .pairwise-select-b {
    float: right;
  }

  .vs-note {
    position: relative;
    top: 10px;
    margin-left: 10px;
  }
}


.de-slider-container {
  margin-bottom: 75px;
  margin-left: 15px;
}

.de-slider-container:last-of-type {
  margin-bottom: 25px;
}

.de-slider-checkbox-container {
  margin-left: -25px;
}

.de-slider-checkbox-container label {
  margin-left: 5px;
  font-weight: normal;
}

.de-slider {
  width: 225px;
  float: left;
  margin-left: 90px;
  position: relative;
  top: -20px;
}

.explore-tab-content {
  .noUi-value-horizontal {transform: translate(-50%, 70%);}
  .noUi-horizontal {height: 12px; z-index: 0;}
  .noUi-horizontal .noUi-handle {width: 20px; right: -10px; height: 22px; top: -6px;}
  .noUi-handle:before, .noUi-handle:before {left: 7px; top: 3px;}
  .noUi-handle:after, .noUi-handle:after {left: 10px; top: 3px;}
  .noUi-marker-horizontal.noUi-marker-large {height: 12px;}
  .noUi-marker .noUi-marker-horizontal .noUi-marker-normal {height: 3px;}
  .noUi-horizontal .noUi-tooltip {bottom: 115%;}
  .noUi-tooltip {padding: 2px; padding-bottom: 0px; font-size: 12px;}
  .noUi-connect {background-color: $action-color}
  .noUi-pips {font-size: 13px;}

  .inactive .noUi-connect {background: #AAA;}
  .inactive .noUi-tooltip {color: #AAA;}
}
