.de-modal-row-wrapper {
  position: relative;
  top: -15px;
    .de-modal-row {
    a.de-info-help-icon {
      margin-left: 10px;
      vertical-align: middle;
    }
  }
}

.de-source {
  font-weight: normal;
}

.badge-inverse {
  color: #555;
  border: 1px solid #555;
  background-color: #fff;
}

.de-table-buttons {
  float: right;
  margin-right: -8px;
}

.pagination {
  margin: -10px 0 4px 0;
}

.de-download-button {
  margin-right: 0.5em;
  display: inline-block;
  vertical-align: middle;
  padding: 2px 5px;
  border-radius: 4px;
  color: $action-color;
}

.de-reset-button {
  margin-right: 0.6em;
  color: $action-color;
}

.de-dot-plot-button {
  margin-right: 0.5em;
  padding: 2px 5px;

  .de-dot-plot-icon {
    position: relative;
    top: 2px;
    margin-right: 5px;
  }
}

.de-find-mode-icon {
  margin-left: 5px;
  color: $action-color;
}

.de-find-mode-icon.partial {
  color: #AAA;
}

.de-search-box {
  width: 150px;
  border: 1px solid #CCC;
  border-radius: 3px;
  height: 24px;
  margin-left: -16px;
  display: inline-block;
}

.de-search-box:focus-within {
  border: 1px solid #AAA;
}

.de-search-icon {
  color: $action-color;
  margin: 0 5px 0 5px;
}

.de-search-input {
  width: 110px;
}

.clear-de-search-icon {
  border: none;
  padding: 0;
  float: right;
  margin: 1px 3px 0 0;
  color: #CCC;
}

.clear-de-search-icon:hover,
.clear-de-search-icon:active:hover {
  background: none;
  color: #AAA;
  box-shadow: none;
  outline: none;
}

.clear-de-unfound-genes-icon {
  float: none;
  color: #555;
}

.clear-de-unfound-genes-icon:hover,
.clear-de-unfound-genes-icon:active:hover {
  background-color: white;
  color: #000;
}

.de-no-genes-found {
  padding-top: 20px;
  font-size: 13px;
}

.unfound-genes-container {
  margin: 10px 0 10px -10px;
  font-size: 13px;
}

.unfound-gene {
  border-radius: 3px;
  background-color: $warning-background-color;
  border: 1px solid $warning-icon-color;
  margin-right: 6px;
  padding: 1px 3px;
}

.btn-copy-unfound {
  border: none;
  background-color: white;
}

.de-nondefault-explainer {
  margin-top: 16px;
  font-weight: normal;
}

.no-de-summary {
  padding-left: 10px
}

.differential-expression-picker {
  margin-bottom: 20px;

  .one-vs-rest-select {
    float: left;
    width: calc(100% - 100px); // leave room for vs-note content
  }

  .pairwise-select {
    float: left;
    width: calc(45%); // leave room for vs-note, other select
  }
  .pairwise-select-b {
    float: right;
  }

  .vs-note {
    position: relative;
    top: 10px;
    margin-left: 5px;
  }
}


.de-slider-container {
  margin-bottom: 40px;
  margin-left: 15px;
}

.de-slider-container:last-of-type {
  margin-bottom: 20px;
}

.de-slider-checkbox-container {
  margin-left: -25px;
}

.de-slider-checkbox-container label {
  font-weight: normal;
  margin-left: 5px;
}

.de-slider {
  width: calc(100% - 100px);
  float: left;
  margin-left: 90px;
  position: relative;
  top: -20px;
}

/** Make layout responsive to narrow viewports */
@media (max-width: 1415px) {
  .de-slider-checkbox-container input {
    display: block;
  }
  .de-slider-checkbox-container label {
    margin-left: 0px;
  }
  .de-slider {
    width: calc(100% - 80px);
    margin-left: 70px;
  }
}

@media (max-width: 1340px) {
  .de-search-box {
    width: 130px;
  }

  .de-search-input {
    width: 90px;
  }
}

@media (max-width: 1315px) {
  .de-source.margin-left {
    margin-left: 0px;
  }
  .de-exit-panel {
    margin-right: 3px;
  }
}

@media (max-width: 1250px) {
  .de-dot-plot-button {
    width: 26px;
  }
}

.explore-tab-content {
  .noUi-value-horizontal {transform: translate(-50%, 50%);}
  .noUi-horizontal {height: 10px; z-index: 0;}
  .noUi-horizontal .noUi-handle {width: 20px; right: -10px; height: 22px; top: -6px;}
  .noUi-handle:before, .noUi-handle:before {left: 7px; top: 3px;}
  .noUi-handle:after, .noUi-handle:after {left: 10px; top: 3px;}
  .noUi-marker-horizontal.noUi-marker-large {height: 10px;}
  .noUi-marker .noUi-marker-horizontal .noUi-marker-normal {height: 3px;}
  .noUi-horizontal .noUi-tooltip {bottom: 115%;}
  .noUi-tooltip {padding: 0 3px; font-size: 12px;}
  .noUi-connect {background-color: $action-color}
  .noUi-pips {font-size: 13px;}
  .noUi-pips-horizontal {padding: 5px 0 0 0; height: inherit;}

  .inactive .noUi-connect {background: #AAA;}
  .inactive .noUi-tooltip {color: #AAA;}
}


// Used in e.g. differential expression (DE) view
.table.table-scp-compact {
  overflow-y: scroll;
  display: flex;
  flex-flow: column;
  margin-bottom: 10px;
  width: 108%;
  max-width: inherit;
  position: relative;
  left: -15px;

  input {
    margin-left: 2px;
    margin-right: 8px;
  }

  thead {
    flex: 0 0 auto;
  }

  tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
  }

  tr {
    font-size: 13px;
    width: 100%;
    display: table;
    table-layout: fixed;
  }

  tr td {
    font-size: 13px;
  }

  th:last-child {
    padding-right: 2;
  }

  th {
    padding: 4px;
  }

  td {
    padding: 0 2px;
    vertical-align: baseline;
  }
}
