#search-panel {
  display: block;

  #facet-area {
    margin-left: 3em;
    vertical-align: bottom;
  }

  #download-button {
    float: right;
  }
}

.search {
  display: inline-block;
}

.cohort-th {
  width: 20%;
}

.study-metadata-entry {
  display: block;
  margin-bottom: 3px;
  float: left;
  clear: left;
  border-radius: 1em;
  font-size: 12px;
}
