.study-header {
  font-weight: bold !important;
  font-size: 14px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: white;
  width: 100%;
  padding: 16px 0px 0 16px;
}

.study-navbar#single-cell-navbar {
  display: flex;
  flex-flow: row;
}

.multiplot {
  display: flex;
}

.multiplot .plot {
  margin: 0 10px;
}

.navbar-toggle {
 margin-left: auto;
}

.study-badges {
  float: right !important;
  padding-top: 10px;

  .badge {
    background-color: $action-color;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .study-navbar#single-cell-navbar {
    display: block;
  }
  .study-header {
    padding: 0 10px 10px 10px;
  }

  .study-badges .badge {
    display: none;
  }

  ul#scp-navbar-dropdown-collapse {
    margin-top: -2.4em;
    z-index: 3;
    position: absolute;
    border-left: 1px solid black;
    left: calc(100% - 200px);
    padding-left: 0;
  }

  #scp-navbar-dropdown-collapse {
    .check-upload .fa-plus {
      display: none;
    }

    .left-border-0-5 {
      border-left: none;
    }
  }
}
