.study-header {
  font-weight: bold !important;
  font-size: 16px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: white;
  width: calc(100% - 400px);
  padding: 15px 15px 0 15px;
}

.multiplot {
  display: flex;
}

.multiplot .plot {
  margin: 0 10px;
}

/** eweitz 2023-07-19: draft for narrow viewport */
.scp-navbar-dropdown-collapse {
  min-width: 220px;
  position: absolute;
  left: calc(100% - 211px);
  top: 57px;
}

.navbar-toggle {
 margin-left: auto;
}
